<div class="row" style="margin-top: 10px;" *ngFor="let hero of heroes">
  <div class="col-md-12">

    <form class="form-inline">
      <div class="form-group">

        <label class="sr-only" for="exampleInputAmount">Hero</label>
        <div class="input-group">
          <div class="input-group-addon">{{ hero.id }}</div>
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" [value]="hero.name" readonly>
          <div class="input-group-btn"><button class="btn btn-danger">X</button></div>
        </div>

      </div>
    </form>
  </div>
</div>
