<div class="row">
  <div class="col-md-12">

    <div class="form-inline">
      <h2>My Heroes</h2>
      <div>
        <label>Hero name:</label> <input class="form-control input-sm" #heroName />
        <button class="btn btn-sm btn-success" (click)="add(heroName.value); heroName.value=''">
          Add
        </button>
      </div>
    </div>

  </div>
</div>

<div style="margin-top: 30px;"></div>

<heroes-list [heroes]="heroes | async"></heroes-list>

<hero-selected [hero]="selectedHero"></hero-selected>
